body {
    font-family: monospace;
    overflow-x: hidden;
}

.fix-text {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: black;
    height: 9vh;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -4px 10px 5px 0px rgba(78, 78, 78, 0.75);
    -webkit-box-shadow: -4px 10px 5px 0px rgba(78, 78, 78, 0.75);
    -moz-box-shadow: -4px 10px 5px 0px rgba(78, 78, 78, 0.75);
}

.navbar-left {
    color: white;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 0.2%;
    font-family: 'Merriweather', serif;
}

.containter  {
    font-size: 25px;
    font-weight: 600;
    margin-left: 46%;
    margin-top: 22vh;
    width: 20%;
}

.font {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 3vh;
}

.birthday-txt {
    font-size: 20px;
    font-weight: 600;
}

.input {
    padding: 0 4ch;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    height: 30px;
    width: 19ch;
}

#usernameInput {
    margin-top: 3vh;
    margin-right: 20ch;
}

.user-input-field {
    position: relative;
    top: 6vh;
    left: -6.8ch;
}

#usernameComment{
    font-size: 15px;
    font-weight: 400;
    width: 280px;
}


.input-password-field {
    position: relative;
    top: 3.2vh;
    left: 0.5ch;
}

#passwordInput {
    margin-right: 20ch;
}


#passwordComment{
    font-size: 15px;
    font-weight: 400;
    width: 280px;
}


.birthdate {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    height: 30px;
    width: 27ch;
} 

.signup-button {
    height: 60px;
    width: 25ch;
    border-radius: 40px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: white;  
}

.signup-button:hover {
    background-color: rgb(235, 233, 233);
}

.signup {
    margin-top: 0.2vh;
}

.signin {
    color: #86D7FB;
    font-size: 13px;
}


#genderComment {
    font-size: 15px;
    font-weight: 400;
    width: 280px;
    margin-top: 40px;
}


#malePick {
    position: relative;
    top: 30px;
}

#femalePick {
    position: relative;
    top: 30px;
}

.birthdateTxt {
    font-size: 18px;
    position: relative;
    font-weight: 600;
    top: 30px;
}

#birthdateComment {
    font-size: 15px;
    font-weight: 400;
    width: 280px;
    margin-top: 40px;
}


.notepad {
    resize: none;
    height: 200px;
    width: 300px;
}

@media screen and (min-device-width : 280px) and (max-device-width : 640px) { /* Mobiles phone sizes */
    .containter  {
        font-size: 25px;
        font-weight: 600;
        margin-left: 2ch;
        margin-top:35%;
        width: 100%;
    }

    .input {
        font-size: 18px;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 40px;
        height: 35px;
        width: 17ch;
    }

    .user-input-field {
        position: relative;
        top: 2.2em;
        left: -6.8ch;
    }
    
    .input-password-field {
        position: relative;
        top: 1.3em;
        left: 0.5ch;
    }

    .input-repeatpwd-field {
        position: relative;
        top: 7.7vh;
        right: 12.4ch;
    }

    .input-email-field {
        position: relative;
        top: 1.2em;
        left: -4.3ch;
    }

    #birthdate {
        font-size: 18px;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 40px;
        height: 35px;
        width: 25ch;
    }

    .signup-button {
        height: 60px;
        width: 23ch;
        border-radius: 40px;
        border: 3px solid black;
        font-size: 20px;
        font-weight: 600;
        color: black;
        background-color: white;  
    }
    
    .signup {
        margin-top: 0;
    }

    .signin {
        color: #86D7FB;
        font-size: 13px;
        width: -20%;
        position: relative;
        left: 2%;
    }

}


@media only screen and (min-device-width: 1200px) 

and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { /* Laptop devices sizes */

    .containter  {
        font-size: 25px;
        font-weight: 600;
        margin-left: 43%;
        margin-top: 22vh;
        width: 20%;
    }

    .user-input-field {
        position: relative;
        top: 2em;
        left: -6.8ch;
    }
    
    .input-password-field {
        position: relative;
        top: 1.2em;
        left: 0.5ch;
    }

    .input-repeatpwd-field {
        position: relative;
        top: 8vh;
        right: 12.4ch;
    }

    .input-email-field {
        position: relative;
        top: 1.2em;
        left: -4.3ch;
    }
}